body, html {
    height: 100%;
}

/**#header {
    background-image: url("../images/codeBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}**/

.imageContainer {
    width: 30%;
}

.icon {
    font-size: 30pt;
}

.title {
    font-family: "Source Code Pro", monospace;
}

#titleBlock {
    margin-top: 5%;
    margin-bottom: 5%;
}

/*
#contactForm {
    display:none;
    height: 400px;
}
*/

iframe {
    display: none; 
    border: none;
    padding:0;
}

#aboutMe {
    font-size:18px; 
}

.handwriting {
    display:inline; 
    font-family: 'Cantata One', serif;
    font-size:250%;
}

#project-description {
    font-style:italic;
}

#left-arrow, #right-arrow {
    display:flex;
    position:relative; 
    top:50%;
    transform: translate(0, -50%);
}

#right-arrow {
    transform:translate(0, -50%) scaleX(-1);
}

#left-arrow:hover, #right-arrow:hover {
    cursor:pointer;
}

.tint {
    position:relative;
}

.tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(211,211,211, 0.0);
}

.tint:hover:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(211,211,211, 0.5);
  transition: background 0.3s linear;
}

.project-picture:hover {
    cursor:pointer;
}

@media screen and (min-width: 1550px) {
    #aboutMe {
        font-size:21px; 
    }
}

@media screen and (min-width: 1650px) {
    #aboutMe {
        font-size:25px; 
    }
}